<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">
        Uber Freight<br>
        Global Headquarters</h1>
    <p class="lead">Setting Chicago's North Branch in Motion</p>
        <%= link_to "Learn more", vision_path, class: "btn btn-primary land-button btn-large" %>
  </div>
</div>
