<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">
        United Airlines<br>
        Global Headquarters</h1>
    <p class="lead">Chicago's Hometown Airline is Building a New Home</p>
        <%= link_to "Learn more", vision_path, class: "btn btn-primary land-button btn-large" %>
        <%= audio_tag("RhapsodyBlue.mp3", autoplay: true, controls: false) %>
  </div>
</div>
