<div class="container-fluid">
    <div class="paragraph-body">
        <h3>Creating Connections</h3>
          <h4>Catalyzing new public transit infrastructure</h4>
    </div>

    <div class="paragraph-image">
        <%=image_tag("TransitwayPath.jpg", class: "img-responsive") %>
        <h5 class="image-caption">A key feature of the City's master plan for the North Branch is the 3 mile "Transitway" line</h5>
    </div>
    <div class="paragraph-body">
        <p>
          United's new campus FEATURES will be the catalyst for a new "North Branch Transitway" in partnership with the City of Chicago and Department of Transportation. The new pedestrian and Bus Rapid Transit connection between our campus and commuter rails of Ogilive and Union Stations. Phase 1 of the Transitway is anticipated to be complete near United's occupancy at the beginning of 2023. Future phases will connect the campus north through Goose Island to residential neighborhoods of Lincoln Park and Bucktown. For suburban commuters, the Transitway will connect to the Cylbourn Metra stop north of the site.
        </p>
    </div>

    <div class="paragraph-body">
        <h3>Multi-Modal Trail</h3>
    </div>

    <div class="paragraph-image">
        <%=image_tag("TransitwayConcept.jpg", class: "img-responsive") %>
        <h5 class="image-caption">Rendering courtesy of the City of Chicago Department of Planning, illustrating a new multi-modal trail to commute within the North Branch</h5>
    </div>

    <div class="paragraph-body">
        <p>
          While the headquarters is located in Chicago, a well-run touches all aspects of our business that runs in real time 24/7/365 globally. The new facility will impact not only our 5,000 employees at the facility, but an efficient operation translates to an environment that has the highest standards of safety, is caring, dependable, reliable and on-time for our flight attendants, pilots, airport and technical operations employees that are at the forefront of serving our customers every day worldwide – Family
        </p>
    </div>

    <div class="slogan">
      <h3>New Home, New Spirit of United</h3>
    </div>

    <div class="body-nav">
      <%= link_to "Exiting New Amenities", amenities_path %>
    </div>
</div>
