<div class="container-fluid">
    <div class="paragraph-body">
        <h3>Creating Connections</h3>
          <h4>Catalyzing new public transit infrastructure</h4>
    </div>

    <div class="paragraph-image">
        <%=image_tag("TransitwayPath.jpg", class: "img-responsive") %>
        <h5 class="image-caption">A key feature of the City's master plan for the North Branch is the 3 mile "Transitway" line which runs from the United Campus site to Ogilvie Station and Union Station for Phase 1</h5>
    </div>
    <div class="paragraph-body">
        <p>
          United's new Campus is enabling the City’s new "North Branch Transitway" in partnership with the Chicago Department of Transportation. The new pedestrian and Bus Rapid Transit connection creates an off street right of way between our campus and the West Loop, most notably to connect with Ogilvie Station and Union Station. Phase 1 of the Transitway is anticipated to be complete near United's occupancy at the beginning of 2023.
        </p>
        <p>
          The corridor is anticipated to be 3 miles in length upon completion. Future phases of the Transitway will connect the campus north through Goose Island to residential neighborhoods of Lincoln Park and Bucktown and is planned to terminate near the Clybourn Metra station.
        </p>
    </div>

    <div class="paragraph-body">
        <h3>Multi-Modal Trail</h3>
    </div>

    <div class="paragraph-image">
        <%=image_tag("TransitwayConcept.jpg", class: "img-responsive") %>
        <h5 class="image-caption">Rendering courtesy of the City of Chicago Department of Planning, illustrating a new multi-modal trail to commute within the North Branch and more directly link our campus to the West Loop</h5>
    </div>

    <div class="paragraph-body">
        <p>
          The multi-modal trail is planned for use by pedestrians, bicycle and bus rapid transit. The pathway is predominantly comprised of old freight rail lines that are no longer in service. These rail corridors create a unique opportunity for the City to establish a dedicated right-of-way for a new high capacity transit system for the North Branch that creates new connections and reduces reliance on vehicular modes. 
        </p>
    </div>

    <div class="slogan">
      <h3>New Home, New Spirit of United</h3>
    </div>

    <div class="body-nav">
      <%= link_to "Exiting New Amenities", amenities_path %>
    </div>
</div>
