<div class="container-fluid">
    <div class="paragraph-body">
        <h3>Transforming Urban Mobility</h3>
          <h4>Uber is partnering with innovative cities to keep people moving</h4>
    </div>

    <div class="paragraph-image">
        <%=image_tag("https://s3.us-east-2.amazonaws.com/hqu/TransitwayPath.jpg", class: "img-responsive") %>
        <h5 class="image-caption">A key feature of the City's master plan for the North Branch is the 3 mile "Transitway" line. Phase 1 will run between the United Campus site to Ogilvie Station and Union Station</h5>
    </div>
    <div class="paragraph-body">
        <p>
          [1. land use 2. transit]  Uber's new Campus is enabling the City’s "North Branch Transitway" in partnership with the Chicago Department of Transportation. The new pedestrian and Bus Rapid Transit connection creates an off street right of way between our campus and the West Loop, most notably to connect with Ogilvie Station and Union Station. Phase 1 of the Transitway is anticipated to be complete in the next 3-5 years.
        </p>
        <p>
          The corridor is anticipated to be 3 miles in length upon completion. Future phases of the Transitway will connect the campus north through Goose Island to residential neighborhoods of Lincoln Park and Bucktown and is planned to terminate near the Clybourn Metra station.
        </p>
    </div>


    <div class="paragraph-body">
        <p>
          The multi-modal trail is planned for use by pedestrians, bicycle and a new bus rapid transit system. The pathway is predominantly comprised of old freight rail lines that are no longer in service and will be repurposed for modern use. These rail corridors create a unique opportunity for the City to establish a dedicated right-of-way for a new high capacity transit system for the North Branch that creates new connections and reduces reliance on vehicular modes.
        </p>
    </div>

    <div class="paragraph-body">
        <h3>Planes, Trains, & Driverless Automobiles</h3>
    </div>

    <div class="paragraph-image">
        <%=image_tag("https://s3.us-east-2.amazonaws.com/hqu/transitcampus.JPG", class: "img-responsive") %>
        <h5 class="image-caption">Uber Freight's initial building is on the river adjacent to the Great Lawn and Amphitheater</h5>
    </div>

    <div class="paragraph-body">
        <p>
          Uber Freight is delivering a riverfront tower with a future expansion building at the intersection to be build for Autonomous Vehicles and potential for a future Elevate Vertiport
        </p>
    </div>

    <div class="paragraph-image">
        <%=image_tag("https://s3.us-east-2.amazonaws.com/hqu/autonomoustransitway.jpg", class: "img-responsive") %>
        <h5 class="image-caption">Conceptual rendering of a multi-modal pedestrian friendly transitway utilizing a fleet of Uber's autonomous vehicles for on demand hailing.</h5>
    </div>

    <div class="slogan">
      <h3>Keeping Chicago in Motion</h3>
    </div>

    <div class="body-nav">
      <%= link_to "Interactive Map", data_path %>
    </div>
</div>
