<footer class="footer">
    <div class="address">
      <ul style="list-style-type:none">
          <a href = "https://www.uberfreight.com/" target="_blank">
            <font color="white">
             <li><strong>UBER FREIGHT</strong></li>
             <li>700 W. Chicago</li>
             <li>Chicago, Illinois 60654</li>
           </font>
       </ul>
    </div>

    <div class="social">
      <ul style="list-style-type:none">
        <a href = "https://www.linkedin.com/company/uber-freight" target="_blank">
          <font color="white"><li><i class="fa fa-linkedin"></i> | LinkedIn</font></li></a>

        <a href = "https://twitter.com/uberfreight?lang=en" target="_blank">
          <font color="white"><li><i class="fa fa-twitter"></i> | Twitter</font></li>

        <a href = "https://www.instagram.com/uberfreight/?hl=en" target="_blank">
          <font color="white"><li><i class="fa fa-instagram"></i> | Instagram</font></li>

       </ul>
    </div>
</footer>
